.form {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 720px;
  border: 1px solid green;
}

.section-question {
  margin: 20px;
  border: 1px solid green;
}

button {
  margin: 0 auto;
  display: block;
  font-size: 30px;
}